* {
    margin: 0;
    font-family: arial;
}

nav {
    width: 2000px;
    height: 100px;
    background-color: #3F1052;
    color: white;
}

table {
    max-width: 900px;
    margin: auto;
    width: 100%;
}

nav h1 {
    padding: 10px;
    font-size: 10px;
}

nav td {
    height: 50px;
    width: 20%;
    text-align: center;
    background-color: rgba(0,0,0,.1)
}

section {
    max-width: 900px;
    width: 100%;
    margin: auto;
}

header {
    background-color: #F1F3F4;
    padding: 16px;
    margin-top: 5px;
}

section tr{
    height: 41px;
    line-height: 24px;
    background-color: rgba(0,0,0,.03)
}

section td {
    min-width: 30px;
    text-align: center; 
}